.wd-box{
margin: auto;
      width: 1300px;
      height: 1100px;
      padding: 1px;
      border: 1px solid rgb(47, 51, 54) ;
 }

.header {
  display: flex;
  align-items: center;
  padding: 16px;
}

.search-input {
  background-color: white;
  color: black;
  padding: 10px 30px;
  border-radius: 25px ;
  font-size: 15px;
  width: 100%;
}

.settings-icon {
  background-color: black;
  color: #007bff;
  padding: 12px 10px;
  border-radius: 0 24px 24px 0;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;

}

.nav {
  display: flex;
  padding: 16px;
}

.nav-item {
  padding: 16px;
  font-size: 15px;
  color: rgb(110, 118, 125);
  text-decoration: none;
}

.nav-item.active {
  color: rgb(29, 161, 242);
  border-bottom: 2px solid rgb(29, 161, 242);
}

.suggested-posts {
  padding: 16px;
}

.post {
display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

.post-topic,
.post-title,
.post-tuits
{
  color: rgb(110, 118, 125);
  font-size: 13px;
}

.post-author {
  color: rgb(255,255,255);
  font-size: 14px;
}
.post-image {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-left: 2px;
  margin-right: 2px;
}

hr.solid {
  border-top: 1px solid rgba(70,70,70);
}

.wd-sfont{
color: rgb(255,255,255);
  font-size: 16px;
}

.custom-nav {
  background-color: white;
  padding: 0.1px;
  display: flex;
}




.list-group-item .list-group-image {
  width: 600px;
  height: 400px;
  padding: 0px;

}
.image-text {
                      display: flex;
                      align-items: center;
                      }

.btn btn-primary{
    border-radius: 50px
    }

.font1{
font-weight: bold;
font-size: 15px}

.font2{
font-size: 14px}

.button{
border-radius: 50px;
background-color: royalblue;
height: 50px;
width: 200px}



.container2 {
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

.text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 36px;
  font-weight: bold;
}
.fontl{
font-size: 14px
}

.icon-text {
    display: flex;
    align-items: center;
  }

.my-list-group {
    background-color: #f2f2f2;
  }



.button2{
background-color: royalblue;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 50px;
cursor: pointer;
}

.button2:hover{
background-color: #808080;
}

.wd.search{
    bottom :10px;
    left:10px;
  }